/* BASE STYLE */
html{
/*background-image:url("stock-photo1jpg.jpeg");*/


background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color:#FFF;
font-family:'Lato', sans-serif;
}
	
html a{
color:#FFF;
text-decoration:none;	
font-weight:600;
}

html a:hover{
color:#BABABA;
}

body{
  -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}	
 
.container-main {
margin: auto;
width:100%;
}

.pagetitle{
  margin-top:100px;
  font-size: 60px;
  font-weight: 800;
  text-align:center;
}

.pagecontainer{
  width:100%;
  max-width:685px;
  margin:auto;
}

hr{
  width:50px;
  margin:auto;
  margin-top:70px;
  margin-bottom:70px;
  clear:both;
}

/* HEADER */

 header{
   margin:auto;
   width:95%;
   font-family:'Lato', sans-serif;
   font-size:25px;
   font-weight:600;
   margin-top:20px;
 }

header .logo{
  height:100px;
}

header a{
  color:#BABABA;
}

/* NAVIGATION */

.navigation{
  float:right;
  margin-top:35px;
}

.navigation a{
  font-size:20px;
  color:#FFF;
  float:right;
  margin-left:80px;
  text-decoration: none;

  <!-- transitions -->
  -webkit-transition: padding 100ms;
  -moz-transition: padding 100ms;
  -ms-transition: padding 100ms;
  -o-transition: padding 100ms;
  transition: padding 100ms;
}

.navigation a:hover{
 color:#BABABA;
}

@media only screen and (max-width: 500px) {
.navigation{
   max-width:50px;
 }
}


/* BRAND */

brand{
line-height:45px;  
font-family:'Lato', sans-serif;
font-size:20px;
font-weight:600;
color:#FFF;
display:inline-block;
margin-top:25px;
}

brand:hover{
  color:#BABABA;
}


/* TEXT STYLING */

ul, li, p{
  font-size:18px;
  line-height:30px;
  -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
  }

/* LINK STYLING */

p a {
  color:#FFF;
    text-decoration:none;
    font-weight:400;
 }

p a:hover{
  color:#BABABA;
}

/* HOMEPAGE SPLASH */

.homepagebox{
  text-align:left;
  margin:auto;
  width:100%;
  max-width:1200px;
  margin-top:150px;

}

@media only screen and (max-width: 500px) {
.homepagebox{
  margin-top:160px;

 }
}	

.homepagesplash{
   height:220px;
   display:inline;
   display:inline-block;
   padding-bottom: 20px;
   font-size:90px;
   margin: auto;
   width:90%;
 }

@media only screen and (max-width: 500px) {
.homepagesplash{
   font-size:60px;
   max-width:500px;
   width:95%;
 }
}	

.homepagesub{
  font-size:30px;
  font-weight:300;
  line-height:40px;
  margin:auto;
}

@media only screen and (max-width: 500px) {
.homepagesub{
   font-size:20px;
    width:95%;
   max-width:500px;

 }
}

/* SERVICES BOX */
#threebox-container {
    margin: auto;
    text-align: center;
    overflow:hidden;
    margin-top:-2%;
    width:100%;
}


.threebox {
    text-align:left;
    margin:auto;
    float:left;
    font-weight:300;
    width: 300px;
    padding-left:50px;
    padding-right:50px;
}


@media only screen and (max-width: 500px) {
.threebox{
    padding-left: 5px;
    width: 95%;
    padding-bottom:20px;
 }
}

.logobank{
    text-align: center;
    background-color: transparent;
}

@media only screen and (max-width: 500px) {
.logobank{
}
}

.logobank img{
    padding:10px;
    opacity:1;
    max-width: 120px;
}

@media only screen and (max-width: 500px) {
.logobank img{
  padding: 5px;
   max-width: 80px;
	}
}

/* CONTACT FORM */

#contact-form-container {
}

#contact-form {
    width: 95%;
    font-weight:300;
    text-align: center;
    margin: auto;
    max-width:1100px;
}

.contact-p {
  text-align: center !important;
    font-weight: 600;
    font-size:30px;
  }

.form-title {
   font-size:20px;
   margin-bottom:10px;
   text-align: left;
}

.form-field {
   color:#FFF;
   background: transparent;
   text-align: left;
   font-size:16px;
   border:1px solid #FFF;
   padding:5px;
   margin-bottom:20px;
   width: 100%;
}
.form-field:focus {
   background: transparent;
   border: 1px solid #BABABA;
}

.form-message {
   width: 100%;
    background-color: transparent;
}

.buttons-container {
   margin:8px 0;
   text-align:center;
}

.buttons {
  font-family:'lato';
  font-size:20px;
  background-color: transparent;
    color: #FFF;
  border: 1px solid #FFF;
  padding:8px;
  -webkit-transition: padding 100ms;
  -moz-transition: padding 100ms;
  -ms-transition: padding 100ms;
  -o-transition: padding 100ms;
  transition: padding 100ms;
}

.buttons:hover {
  border: 1px solid #FFF;
  background-color: #FFF;
  color: #000;

}

.buttons:active {
	position:relative;
	top:1px;
}


/* FOOTER */

.footerbox {
    padding-top:50px;
    padding:20px;
    text-align:center;
}

footer{
  width:100%;
  min-height:10px;
  text-align:center;
  color:#FFF;
  margin-top:50px;
  font-size:12px;
  text-decoration:none;
  text-align:center;
  position:relative;
}

footer p{
color:#FFF;
font-weight:300;
font-size:12px;
}

footer a{
color:#FFF !important;
font-size:25px !important;	
	padding-bottom:30px;
}

footer .threebox p{
  font-size:12px;
  text-align:center;
}

footer brand{
  position:absolute;
  top:20px;
  margin-left:-27px;
  }

/* blog page styling */

.posttitle a{
  color:#BABABA;
  text-decoration:none;
}


/* blog post styling */

.postcontainer{
  width:60%;
  max-width:1200px;
  margin: auto;
  margin-top:100px;
}

.posttitle{
font-size:80px;
margin-bottom:25px;
}

.posttitle:after{
  content:'';
    display: block;
    border-bottom: 4px solid #FFF;
    width:60px;
    margin-left: 0px;
    margin-top:25px;
}

.subtitle{
font-size:30px;
font-weight:300;
}

.dateline{
font-size:14px;
text-transform:uppercase;
color:grey;
padding-top:40px;
padding-bottom:20px;
}

.postcontainer h2{
  padding-top:30px;
}

blockquote{
  border-left:4px solid #FFF;
  padding-left:5px;
  font-style:italic;
}

/*TYPED*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-cursor::after{
  visibility: visible;
  content: '';
  background-color: #d4f8e3;
  display: inline-block;
  position: relative;
  width: 0.5em;
  height: 1em;
  top: 5px;
  margin-left: 0;
  -moz-box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
  -webkit-box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
  box-shadow: -2px 0 0px rgba(0, 0, 225, 0.4), -1px 0 3px rgba(103, 171, 236, 0.6), 1px 0 4px rgba(69, 112, 204, 0.5);
  -moz-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
  -webkit-animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
  animation: flicker 0.1s steps(2, start) infinite, ready 1s steps(2, start) 25s infinite;
}
    
    
